#drop_zone {
  border: 5px solid aquamarine;
  width: 200px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  text-align: center;
  background-color: lightgray;
  margin: auto;
  width: 300px;
}

.search-name {
  margin: 3px;
}

#map { height: 180px; }